.footer {
	width: 100%;
	height: 78px;
	padding: 2px 8px 12px 9.5px;
	background-color: #fafafd;
	display: flex;
	justify-content: space-around;
	.footer__element {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: #676767;
		padding: 16px 0 24px 0;

		p {
			font-size: 8px;
			font-weight: 500;
			font-stretch: normal;
			font-style: normal;
			letter-spacing: normal;
			text-align: center;
			padding-bottom: 24px;
		}
	}
}
